.FriendList {
    background: linear-gradient(45deg, purple, mediumpurple, blueviolet);
    background-size: 400% 400%;
    background-position: 300%;
    animation: gradient 15s ease infinite
    
  }
  
  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    50% {
      background-position: 100%
    }
    100% {
      background-position: 0%
    }
  }
